{% extends 'base.html' %}


{% block head %}
    <title>Groups of {{ company.name }}</title>
{% endblock %}

{% block styles %}
<style>
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }

    a:hover {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: rgb(231, 255, 247);
        min-height: 800px;
        padding: 20px;
    }
    
    h1 {
        text-align: center;
    }

    .subject {
        border-radius: 10px;
        background-color: rgba(232, 255, 127, 0.514);
        min-height: 70px;
        margin: 20px;
        padding: 10px;
        transition: 0.5s;
    }

    .subject:hover {
        margin: 20px 30px;
        padding: 10px 20px;
        transition: 0.5s;
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="company">
        <div class="groups">
            <h1 class="h1">Групи</h1>
            {% for group_dict in groups %}
                <div class="group">
                    <h3>{{ group_dict.group.name }}</h3>
                    <p>{{ group_dict.group.course }}</p>
                    <p>{{ group_dict.group.description }}</p>
                    <p>Всього зароблено: {{ group_dict.group.calculate_students_payment }}</p>
                    <p>Витрачено на зарплату: {{ group_dict.group.calculate_teacher_payment }}</p>

                    <div style="height: 500px; width: 100%">
                        {{ group_dict.graph_html|safe }}
                    </div>
                    
                    <table class="table">
                        <tr>
                            <th>Ім'я</th><th>Прізвище</th><th>Середня оцінка</th><th>Приєднався</th>
                        </tr>
                        {% for student_dict in group_dict.students %}
                            <tr>
                                <td>{{student_dict.userprofile.name}}</td><td>{{student_dict.userprofile.surname}}</td><td>{{student_dict.student.company_user.average_mark}}</td><td>{{student_dict.student.company_user.date_join}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
            <button class="btn btn-outline-success" onclick="window.location='{% url 'main:enter_company' comp_user.company_id %}'">Повернутися до компанії</button>
    
        </div>
    </div>
</div>
{% endblock %}
